<body class="formbody">
<div class="container">
    <div class="Form login-form">
        <h2>Login</h2>
        <form action="#">
            <div class="input-box">
                <i class='bx bxs-user'></i>
                <label for="#">Nome</label>
                <input type="text" placeholder="Digite seu nome*">
                
                
            </div>
            <div class="input-box">
                <i class='bx bxs-envelope' ></i>
                <input type="text" placeholder="Dite sua senha*">
                <label for="#">Senha</label>
                
            </div>
            <div class="forgot-section">
                <span><a routerLink="#esqueceu">Esqueceu sua senha?</a></span>
            </div>
            <a routerLink="/main"><button class="btn">Login</button></a>
        </form>
        <p class="RegisteBtn RegiBtn">Não tem uma conta? <a routerLink="#cadastrar">Cadastra-se</a></p>
    </div>
    <div class="Form Register-form">
        <h2>Cadastra-se</h2>
        <form action="#">
            <div class="input-box">
                <i class='bx bxs-user'></i>
                <label for="#">Nome</label>
                <input type="text" placeholder="Digite seu nome*">
                
                
            </div>
            <div class="input-box">
                <i class='bx bxs-envelope' ></i>
                <input type="text" placeholder="Digite sua senha*">
                <label for="#">Senha</label>
            </div>
            <div class="input-box">
                <i class='bx bxs-envelope' ></i>
                <input type="text" placeholder="Confirme sua senha*">
                <label for="#">Confirme a Senha</label>
            </div>
            <div class="forgot-section">
               <span><a routerLink="#esqueceu">Esqueceu sua Senha?</a></span>
            </div>
            <a routerLink="/form"><button class="btn" id="loginBtn">Cadastrar</button></a>
        </form>
        <p class="LoginBtn">Já tem uma conta? <a routerLink="#cadastrar">Faça o Login</a></p>
    </div>
</div> 
</body>

